@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kalnia+Glaze:wght@100..700&display=swap');
:root{
    --main-bg-color: #f3f5a9;
}

*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: black;
    color: aliceblue;
    height: 4vh;
    font-family: "DM Sans", sans-serif;
}

header{
    
    background-color: var(--main-bg-color);
    color:rgb(0, 0, 0);  
    font-family: "DM Sans", sans-serif;  
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    height: 7vh;
    align-items: center;  
}

nav ul li{
    list-style: none;
    padding: 0 30px;
    margin-left: 100px;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;    
}

nav ul li a:hover{ 
    font-weight: bolder;
}